**Python Functions**
---

Block of code that performs a specific task and can be reused throughout a program.


Functions are defined using the `def` keyword in python, followed by the function name and any parameters the function takes.



def < function_name > (parameters):
     do something

    .
    .
    .
    return<result>

In [1]:
def calculate_sum (num1 , num2):
    summation = num1 + num2
    return summation

In [2]:
value = calculate_sum(num1 = 20, num2 = 30)

In [3]:
print(value)

50

In [4]:
from math import sqrt

In [5]:
from math import sqrt
def square_root(num):
    root = sqrt(num)
    return root

In [6]:
square_root(9)

3.0

**Python Built-In Function**
---

Functions available with python without creating one.

Some of them are:

**print()**
-

Used to output text or values to the console.


Arguments in print() are:

sep: used to specify separator


*objects: used to insert any number of objects
end: used to specify the string that should be peinted at the end of the line. Default is :"\n" i.e. new line

In [7]:
x = 5
y = x + 5

In [8]:
print("The value of y is :",y)

The value of y is : 10

In [9]:
print("x is " , x,"and y is" ,y) #printing multiple items using comas to separate them.

x is  5 and y is 10

In [10]:
print("Hello","world",sep="-") #using separator

Hello-world

In [11]:
print("Hello","world" , sep="_",end = ".") # default is new line i.e.\n 
print("Hello","world" , sep="_",end = "\n")
print("Hello","world" , sep="_")
print("Hello","world" , sep="_")

Hello_world.Hello_world
Hello_world
Hello_world

**type()**
-
returns the type of the given variable

In [12]:
type(66.7)

float

In [13]:
type(1_0_1_1*4_4_4)

int

In [14]:
type(True)

bool

In [15]:
a = 1_0_1_1*4_4_4

In [16]:
print(a)

448884

In [17]:
type(a)

int

**input()**
---

used to accept the unput from user and returns the entered value as string.

In [18]:
name = input("What is your name ?")

What is your name ? Laxman

In [19]:
print(name)

Laxman

In [20]:
age = int(input("Enter your age:")) #Default type is string so we convert to intger when needed.

Enter your age: 22

In [21]:
print(age)

22

In [22]:
type(age)

int

**len()**
---

In Python, len() is used to get the length of the sequence or collection such as a str list tuple or dict.

In [23]:
len("Hello") #str

5

In [24]:
len((1,2,3)) #list

3

In [25]:
len({1:"apple" , 2:"banana"}) #dict len = no. of key value pair

2

**open()**
---
Used to open a file and returns file object.

`file = open(file = "file_name",mode = r)` #mode = r for reading

In [26]:
file = open(file = "log.txt",mode = 'r') #open file log.txt for reading
print(file.read())

Text inside log.txt file.

In [27]:
file.close() #close the file

In [28]:
file = open("message.txt" , mode = 'w')#opens the file if present else create it since it is in w mode
file.write("This text is being written inside the file message.txt")#writes the text inside the file
file.close() #closes the file

In [29]:
#Context manager
with open("message.txt" , mode ="a") as file: #'a' mode means append which adds the text to the end of the file.
    file .write("This is second message written using context manager")  #context manager closes the file automatically once writing is finished.

In [30]:
file = open(file = "message.txt",mode = 'r') #open file log.txt for reading
print(file.read())

This text is being written inside the file message.txtThis is second message written using context manager

In [31]:
file = open("file3.txt" , mode = 'w')
file.write("Writing this text inside the file3.")
with open("file3.txt" , mode = "a") as file:
    file.write("Writing this message inside file3.txt using with open as file")

**dir()**
--
used to list all the attributes and methods of an object, Returns the sorted list of names in the given object.

In [32]:
x = "laxman"

In [33]:
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [34]:
x.upper()

'LAXMAN'

**enumerate()**
-
In python the enumerate() function is used to iterate over a sequence (such as a list or tuple) and return a sequence of tuples containing the index and value of eaach element in the original sequence.

In [44]:
names = [ 'Ram' , 'Subin' , 'Jagdiss']

In [45]:
list(enumerate(names)) #gives the index to each member in the iterable(in this case list)

[(0, 'Ram'), (1, 'Subin'), (2, 'Jagdiss')]

In [46]:
for i, name in enumerate(names):
    print(i , name , sep = " :  ")

0 :  Ram
1 :  Subin
2 :  Jagdiss

In [47]:
for i, name in enumerate(names, start = 1): #start parameter can be kept to define where the indexing starts from.
    print(i , name , sep = " :  ")

1 :  Ram
2 :  Subin
3 :  Jagdiss

In [48]:
names = [ 'Ram' , 'Subin' , 'Jagdiss']
age = [ 21, 22 , 23 ]

In [49]:
list(zip( names, age))

[('Ram', 21), ('Subin', 22), ('Jagdiss', 23)]

In [50]:
for name, age in zip(names , age):
    print(f"Age of {name} is {age} ")

Age of Ram is 21
Age of Subin is 22
Age of Jagdiss is 23

In [53]:
name = "Hari"
lis1 = [2, 4, 8]
set1 = {"a","e","i","o","u"}

In [54]:
print(set1)

{'o', 'u', 'e', 'a', 'i'}

In [56]:
list(zip(name, lis1, set1))

[('H', 2, 'o'), ('a', 4, 'u'), ('r', 8, 'e')]

In [60]:
for n,l,s in list(zip(name, lis1, set1)): #number of member in iterable with lowest member is the number of combination it makes
    print(n,l,s, sep ="-") #lis1 has only 3 members so it only made 3 combinations

H-2-o
a-4-u
r-8-e

**map()**
---
syntax:

map(function,iterable)

In [61]:
def mult(x):
    return x * 2

In [70]:
my_list = [1,4,6,3,3]
map_obj1 = map(mult , my_list)

In [71]:
map_obj

In [72]:
[a for a in map_obj1]

[2, 8, 12, 6, 6]

**reduce()**
---
syntax:

reduce ( function , iterable )

In [73]:
from functools import reduce

In [77]:
reduce_obj = reduce(lambda x,y:x+y , my_list)

In [78]:
reduce_obj # works like this ((((2+8)+12)+6)+6)

17

**filter()**
---



syntax:

filter ( function , iterable )

In [79]:
filter_obj = filter (lambda x:x%2==0, range(1,20))

In [80]:
list (filter_obj)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [88]:
mylist1 = ["","egg","","milk"]

filter_obj1 = filter (lambda x:len(x)>0, mylist1)

In [89]:
list(filter_obj1)

['egg', 'milk']