In [19]:
import pandas as pd
import numpy as np

In [20]:
data_df = pd.read_csv("https://www.statlearning.com/s/Advertising.csv",index_col = 0)
data_df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [21]:
X = data_df.drop("sales",axis = 1).to_numpy()
X = np.concat((np.ones((200,1)),X),axis = 1)

Y = data_df["sales"].to_numpy().reshape(-1,1)

In [22]:
n,d = X.shape

In [23]:
print(n,d)

200 4

**Random Initialization**

In [35]:
def initializer(d):
    np.random.seed(99)
    betas = np.random.randn(d,1)
    return betas
betas = (initializer(4))

## Cost Function

In [36]:
def calculate_cost(betas):
    cost = 0.5* np.sum(np.dot(X,betas) - Y)
    return cost

calculate_cost(betas)

np.float64(33555.504948716625)

In [37]:
def calculate_gradients(x,y,betas):
    gradient = np.dot(X.T,(np.dot(X,betas)-y))
    return gradient

calculate_gradients(X,Y,betas)

array([[   67111.00989743],
       [12847982.841109  ],
       [ 1623713.78785503],
       [ 2220681.05186209]])

In [56]:
def gradient_descent(X,y,alpha = 0.01,max_iter = 1000, precision_change = 0.0001):
    iteratiion = 0
    dfference = 1
    n,d = X.shape

    betas = initializer(d)
    cost = calculate_cost(betas)
    history = [cost]

    while difference > precision_change and iteratiion <= max_iter:
        betas = betas - alpha*calculate_gradients(X,y,betas)

        cost = calculate_cost(betas)
        histroy.append(cost)
        difference = (history(iteration) - cost)

        print(f"Iteration {iteratiion}, cost {cost}")
        iteration += 1

        if (cost == np.inf):
            print("Cost reached infinity, try smaller lr")
            break 
            
        return betas,iteration,history

In [57]:
optimized_betas, best_step, history = gradient_descent(X , Y , alpha = 0.0000003)

UnboundLocalError: cannot access local variable 'difference' where it is not associated with a value