**PYTHON COMPREHENSION**
---
Provide concise way to create sequences like lists,dictionaries, and sets.

**List Comprehension:** 
---
Concise way to create lists. Provides a compact syntax for mapping a given iterable to a nes list by applying specific expression to each element in the original iterable.

In [1]:
#Usual Way
numbers = [3,5,7,9]
squared = []
for each in numbers:
    squared.append(each **2)

print(squared)

[9, 25, 49, 81]

In [2]:
##Using Comprehension
a_squared = [item**2 for item in numbers ]
print(a_squared)

[9, 25, 49, 81]

In [3]:

number1 = [ 1,3,5,4,6,9,10]
a_cube  = [ item**3 for item in number1]
print(a_cube)

[1, 27, 125, 64, 216, 729, 1000]

**Comprehension to filter out odd numbers**
---

In [4]:
odds = [num for num in range(1,199) if num%2!=0]

In [5]:
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197]

**Comprehension to find square of even numbers:**

In [6]:
even = [ num**2 for num in range(1,30) if num %2==0]
print(even)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]

In [7]:
#using if and else both.
even = [ num**2 if num %2==0 else num**3 for num in range(1,30) ]
print(even)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400, 9261, 484, 12167, 576, 15625, 676, 19683, 784, 24389]

In [8]:
#nested loop in comprehension
adjective = ["red", "blue", "orange"]
fruits = ["apple", "banana", "grape"]

In [9]:
pair = [(adj,fruit) for adj in adjective for fruit in fruits]
print(pair)

[('red', 'apple'), ('red', 'banana'), ('red', 'grape'), ('blue', 'apple'), ('blue', 'banana'), ('blue', 'grape'), ('orange', 'apple'), ('orange', 'banana'), ('orange', 'grape')]

In [10]:
for a,b in pair:
    print(a ,b)

red apple
red banana
red grape
blue apple
blue banana
blue grape
orange apple
orange banana
orange grape

Count number of letters for each words in following sentence.




A single training set that has already been processed is usually split into several types of datasets in machine learning which is needed to check how well the training of the model went

In [13]:
str1 = "A single training set that has already been processed is usually split into several types of datasets in machine learning which is needed to check how well the training of the model went"

In [14]:
length = [ len(each) for each in str1.split(" ")]
print(length)

[1, 6, 8, 3, 4, 3, 7, 4, 9, 2, 7, 5, 4, 7, 5, 2, 8, 2, 7, 8, 5, 2, 6, 2, 5, 3, 4, 3, 8, 2, 3, 5, 4]